<div style="margin-top:5%;">
<div class="col-lg-8 col-md-8" style="margin:auto;box-shadow: 5px 5px;">
  <div class="row">
  <div class="col-lg-6 col-md-6" style="background-color: white;height:500px;">
    <img src="assets/Images/index.png" alt="Estee_Lauder_logo" class="center" width="200px">
  </div>

  <div class="col-lg-6 col-md-6" style="background-color: #0033cc;">
<form [formGroup]="loginForm" (ngSubmit)="checkUser()">

<div class="col-lg-12 col-md-12" style="margin-top:40%">
<div class="form-group">
<input type="text" class="form-control" placeholder="Username" formControlName="username">
</div>


<div class="form-group">
<input type="password" class="form-control" placeholder="Password" formControlName="password" />
</div>




<div>
  <label class="checkbox-inline" style="color:white;"><input type="checkbox" value="">Remember Me</label> &nbsp;&nbsp;
  <a href="" style="color:white;float:right;">Forgot Password?</a>
</div><br>

  <button type="submit" class="col-lg-12 col-md-12 btn btn-primary" style="color:white;height: 60px;">Login</button>
  </div>
</form>


</div>

</div>
</div>
</div>